<nb-layout>
    <nb-layout-header style="background-color: darkgray;"><label style="font-size: 25px;">Spotify Artist Search</label>
    </nb-layout-header>
    <nb-layout-column style="color: white;margin-top:15%;">
        <div class="wrapper" style="text-align:center">
            <button nbButton size="large"
                style="color: azure;border-radius: 10px; border-color: rgb(190, 179, 179); width: 350px;"
                (click)="PaginaLogin()"><label style="color: black;text-align: center;">Login</label> <img
                    src="../../assets/Spotify_logo_without_text.svg.png"
                    style="width: 40px; height: 40px;margin-left: 50px;"></button>

        </div>
    </nb-layout-column>
</nb-layout>